.post-view {
    background-color: #242526;
    border-radius: 10px;
    color: #fff;
    padding: 0 10px;
}

.post-view .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-view .options {
    display: flex;
    gap: 5px;
}

.post-view button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #3a3b3c;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 13pt;
    padding: 10px 8px;
    transition: 0.1s;
}

.post-view button:hover {
    cursor: pointer;
    background-color: #5b5c5f;
    transition: 0.1s;
}

.post-view .views {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #38393a;
}

.post-view .views a {
    text-decoration: none;
    color: #fff;
    padding: 5px 90px;
    border-radius: 10px;
}

.post-view .views a:hover {
    background-color: #37393a;
    transition: 0.1s;
}

.post-view .views a:nth-child(1) {
    border-bottom: 3px solid #2b7fff;
    color: #2b7fff;
}