@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  /* font-family: 'Quicksand'; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #18191a;
}

button:disabled {
  cursor: not-allowed;
  background-color: #505151;
}